In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("./datasets/admision.csv")
df

     admit  gre   gpa  rank
0        0  380  3.61     3
1        1  660  3.67     3
2        1  800  4.00     1
3        1  640  3.19     4
4        0  520  2.93     4
..     ...  ...   ...   ...
395      0  620  4.00     2
396      0  560  3.04     3
397      0  460  2.63     2
398      0  700  3.65     2
399      0  600  3.89     3

[400 rows x 4 columns]

In [4]:
train, test = train_test_split(df, test_size=0.2, random_state=69)
print(f"training amount: {len(train)}\ntesting amount: {len(test)}")
train.head()

training amount: 320
testing amount: 80

     admit  gre   gpa  rank
87       0  600  3.48     2
86       0  600  3.32     2
76       0  560  3.36     3
4        0  520  2.93     4
317      1  780  3.63     4

In [7]:
model = smf.glm('admit ~ gre + gpa + C(rank)', df, family=sm.families.Binomial()).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  400
Model:                            GLM   Df Residuals:                      394
Model Family:                Binomial   Df Model:                            5
Link Function:                  Logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -229.26
Date:                Fri, 19 Nov 2021   Deviance:                       458.52
Time:                        13:23:58   Pearson chi2:                     397.
No. Iterations:                     4   Pseudo R-squ. (CS):            0.09846
Covariance Type:            nonrobust
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept       -3.9900      1.140     -3.500      0.000      -6.224      -1.756
C(rank)[T.2]    -0.6754      0.316     -2.134      0.033      -1.296      -0.055
C(rank)[T.3]    -1.3402      0.345     -3.881      0.000      -2.017      -0.663
C(rank)[T.4]    -1.5515      0.418     -3.713      0.000      -2.370      -0.733
gre              0.0023      0.001      2.070      0.038       0.000       0.004
gpa              0.8040      0.332      2.423      0.015       0.154       1.454
================================================================================
"""

El modelo en este caso queda dividido: Para rank=1

Pr(admit=1) = e^(-3.98 + 0.002gre + 0.8gpa)/(1 + e^(-3.98 + 0.002gre + 0.8gpa))

Para rank = 2
Pr(admit=1) = e^(-3.98 + 0.002gre + 0.8gpa - 0.67)/(1 + e^(-3.98 + 0.002gre + 0.8gpa - 0.67))

In [14]:
ndf = pd.DataFrame([[2.5, 600, 1], [3.5, 700, 1]], columns=["gpa", "gre", "rank"])
model.predict(ndf)

0    0.349502
1    0.600908
dtype: float64